<div>
    <h1>{0}</h1>
    <h2>Сообщение от инициатора:</h2>
    <h3>{1}</h3>
</div>
<br>
<br>
<div>
    <h2>Ниже инструкция, если ты согласишься:</h2>
    <hr>
    <ol type="1">
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3
        </li>
        <li>Какой-то текст</li>
    </ol>
</div>
</body>
</html>